RACK_ENV=development
DATABASE_HOST=postgres
DATABASE_NAME=the-postman-development
DATABASE_USER=postgres
DATABASE_PASSWORD=
REDIS_URL=redis://redis:6379/0


TWILIO_ACCOUNT_SID=a
TWILIO_ACCOUNT_TOKEN=b
TWILIO_PHONE_NUMBER=c
SCRAPPER_SERVICE=https://api-sms-test.sv.quenecesito.org/sms
SCRAPPER_READ_TIMEOUT=120
SCRAPPER_OPEN_TIMEOUT=120